<?xml version="1.0" encoding="UTF-8"?>

<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="org.postgresql.Driver"/>
<property name="url" value="postgres://nivugpmd:Cc_tGZoGO6eSO44-ZDD3a6D-AqkJ3yFT@dumbo.db.elephantsql.com/nivugpmd"/>
<property name="username" value="nivugpmd"/>
<property name="password" value="Cc_tGZoGO6eSO44-ZDD3a6D-AqkJ3yFT"/>
</bean>